files: 'tests|{{cookiecutter.project_slug}}|frontend'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: check-added-large-files
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    - id: black
      name: Check Python code style
      args: ["{{cookiecutter.project_slug}}", "tests"]
      language_version: python3
-   repo: https://github.com/timothycrosley/isort
    rev: 5.0.3
    hooks:
    - id: isort
      name: Check if Python imports are sorted
      args: ["{{cookiecutter.project_slug}}", "tests"]
      language_version: python3
-   repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
    - id: stylelint
      name: Check styling with Stylelint
      additional_dependencies: ['stylelint@13.2.0']
-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v6.8.0'
    hooks:
    -   id: eslint
        name: Check JavaScript code style with eslint
        additional_dependencies:
        -   eslint@6.8.0
        -   eslint-config-airbnb-base@14.0.0
        -   eslint-plugin-import@2.19.1
        -   babel-eslint@10.0.3
-   repo: local
    hooks:
    - id: migrations-check
      language: system
      name: Check for uncreated migrations.
      entry: bash -c "./manage.py makemigrations --check --dry-run"
      types: ["python"]
      pass_filenames: false